<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <div class="widthLimiter">
      <% if (locals.currentUser) {%>
      <a href="/message/post" class="button"> Post Message </a>
      <%}%>
      <ul>
        <% messages.forEach(message => {%>
        <li>
          <div class="messageCard">
            <h2><%=message.title%></h2>
            <% if (locals.currentUser && locals.currentUser.isAdmin) { %>
            <a
              href="
                <%= message.deleteUrl %>
                "
              class="button"
            >
              Del
            </a>
            <% } %>
            <p><%=message.text%></p>
            <hr />
            <div class="cardFooter">
              <% if (message.fromUser && message.date) {%>
              <h3>by: <%=message.fromUser.name%></h3>
              <p>
                <time
                  datetime="<%=message.date.toISOString().substring(0,10)%>"
                >
                  <%= message.date.toDateString().substring(4) %>
                </time>
              </p>
              <% } else { %>
              <p>
                <em>
                  Note: Be a member to know who posted the message and when.
                </em>
              </p>
              <% } %>
            </div>
          </div>
        </li>
        <%})%>
      </ul>
    </div>
  </body>
</html>
