<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') -%>
    <div class="widthLimiter">
      <h2><%= title %></h2>
      <% if (!currentUser.isMember || !currentUser.isAdmin) {%>
        <form
          action="<%= currentUser.settingsUrl + '/application' -%>"
          method="post"
        >
          <% if (!currentUser.isMember) {%>
            <p>Want to be a member?</p>
          <%} else {%>
            <p>Want to apply for admin position?</p>
          <%}%>
          <label for="memberCode">
            Enter secret code:
            <input
              type="password"
              name="memberCode"
              id="memberCode"
              required="true"
            />
          </label>
          <label for="applyForAdmin" class="checkbox">
            <input
              type="checkbox"
              name="applyForAdmin"
              id="applyForAdmin"
              value="yes"
            />
            Apply for admin
          </label>
          <button type="submit">Submit</button>
          <hr />
          <p><em>Note:</em></p>
          <ul>
            <li>You will be logged out if your application is successful.</li>
            <li>If you are an admin, you can delete messages.</li>
          </ul>
          <% if (locals.errors) {%>
            <hr>
            <ul>
              <% errors.forEach(error => {%>
                <li><%= error.msg %></li>
              <%})%>
            </ul>
          <%}%>
        </form>
      <%}%>
      <a href="/settings/log-out" class="button">Log out</a>
    </div>
  </body>
</html>
